/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

input[type="text"] {
    width: 100%;
    border-radius: 5px;
}

html::-webkit-scrollbar {
    width: 10px;
    height: 8px;
    background-color: #aaa;
    /* or add it to the track */
}

/* scrollbar thumb */
html::-webkit-scrollbar-thumb {
    background: #007bff;
}

/* Estilos del header */
#header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Estilos para la seccion del banner */

#contenedor-banner {
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    color: #333;
    height: 250px;
    overflow: hidden;
    position: relative;
    margin-bottom: 0;
}

#banner-img {
    opacity: 0.6;
    position: absolute;
    border-radius: 10px;
    width: 100%;
    top: 0;
    left: 0;
    height: 250px;
}

#banner-mensaje {
    position: absolute;
    margin-top: 100px;
}

/* Estilos para la sección Acerca de Nosotros */
#acerca-de-nosotros {
    max-width: 1200px;
    margin: 40px auto;
    margin-top: 0px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#acerca-de-nosotros h2 {
    text-align: center;
    color: #007bff;
}

.contenido {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.texto {
    flex: 1;
    padding: 20px;
}

.texto h3 {
    color: #007bff;
}

.texto ul {
    list-style-type: disc;
    margin-left: 20px;
}

.texto p,
.texto ul {
    margin-bottom: 20px;
}

/* Estilos para la imagen */
.imagen {
    flex: 1;
    text-align: center;
}

.imagen img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Estilos del footer */
#footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: bottom;
    width: 100%;
    bottom: 0;
}

#contenedor_footer {
    display: flex;
    justify-content: space-between;
}

#contenedor_footer>div:first-child {
    display: block;
    width: 100%;
    padding: 0 50px;
}

#contenedor_footer>div:last-child {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    width: 100%;
    padding: 0 50px;
    text-align: left;
}

textarea#mensaje {
    height: 70;
    width: 100%;
    border-radius: 5px;
}

#contacto-form>label {
    margin-top: 5px;
    width: 100%;
}

/* Seccion de empleados */
#empleados{
    border-radius: 10px;
    display: flex;
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#empleados > div{
    background-color: #aaaaaa47;
    border-radius: 10px;
    width: 20%;
    padding: 10px 0;
}

.imagen-empleado{
    max-width: 150px;
    border-radius: 5px;
}

/* Sección de Proyectos */
#proyectos {
    max-width: 1200px;
    margin: 40px auto;
    background-color: #fff;
    padding: 40px 20px;
    text-align: center;
    border-radius: 10px;
}

#proyectos h2 {
    font-size: 2.5rem;
    color: #0b6bfc;
    margin-bottom: 20px;
}

.proyecto {
    background-color: #f8f8f8;
    margin: 20px 0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.proyecto h3 {
    font-size: 1.8rem;
    color: #0b6bfc;
    margin-bottom: 10px;
}

.proyecto p {
    font-size: 1.2rem;
    color: #555;
}

/* Seccion de areas de la empresa */
#areas-empresa{
    display: flex;
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#areas-empresa .area-contenedor{
    position: relative;
    width: 30%;
}

#areas-empresa > div .contacto{
    display: block;
    width: auto;
    height: auto;
    background-color: #33333350;
    background-size: auto;
    border-radius: 10px;
}

